{% extends "index.twig" %}

{% block content %}

<!-- Call to Action Panel -->
<div class="row">
	<div class="large-12 columns">

		<div class="panel">
			<div class="row">
				<h4>Error 404</h4>
			</div>
		</div>

	</div>
</div>
{% endblock %}